 body{
    background:url(../img/bg.jpg);
}
.logo{
    padding:15px 0;
}
 .contents{
    background-color:white;
    color:#0a1084;
    padding:30px;
    opacity:0.7;
}
.title{
    border-bottom:solid 1px #0a1084;
    font-size:24px;
    font-weight:bold;
}
.container{
    width:960px;
    margin:auto;
}
.content{
    margin-bottom:30px;
}
